* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  max-height: 100vh;
  overflow-x: hidden;
}

#content {
  height: 100vh;
  width: 100vw;
}

#map-info {
  height: 100vh;
  width: 408px;
  float: left;
}

#disqus_thread,
#reddit-info {
  padding: 16px 24px 16px;
}

#map-content {
  height: 100vh;
  width: calc(100vw - 408px);
  background-color: green;
  left: 408px;
  position: fixed !important;
}

#map-info-title,
#map-info-header {
  padding: 16px 24px 16px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.75rem;
}

#map-info-header {
  font-weight: 500;
  padding: 6px 24px 6px;
}

#map-info-images {
  height: 175px;
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}

#map-info-images img {
  width: 100%;
  display: block;
}

#map-info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px 16px;
  border-bottom: 1px solid #e6e6e6;
}

.map-info-nav-item {
  border: 1px solid black;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.map-info-nav-item:first-child {
  margin-left: 0;
}

.map-info-nav-item:last-child {
  margin-right: 0;
}

.map-info-nav-item img {
  height: 25px;
  margin: auto;
}

.map-info-nav-item svg {
  height: 25px;
  margin: auto;
}

#disqus_thread,
#post-list {
  font-family: "Nunito", sans-serif !important;
}

.reddit-list-item {
  list-style: none;
  font-size: small;
  text-decoration: none;
}

.reddit-list-item a {
  color: lightseagreen;
  text-decoration: none;
}

#poi-info {
  font-size: small;
}

#poi-info tr {
  margin-bottom: 10px;
}

#poi-info button span:last-of-type {
  text-align: right;
}

#poi-info tr::after {
  content: "";
  border: 1px solid red;
}

/************************************/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.content p {
  padding: 18px 0;
}

.collapsible {
  border-bottom: 1px solid #e6e6e6;
}

.collapsible-rating {
  font-weight: 600;
}

.collapsible:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border: none;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
/*# sourceMappingURL=style.css.map */